// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;
// $colors: #27374D, #526D82, #9DB2BF, #DDE6ED, #16a085, #2980b9, #8e44ad, #2c3e50,
// #7f8c8d !default;

$font-family: '"Noto Serif SC", serif';
$font-family-heading: '"Noto Serif SC", serif';